/*body > div{width:100%;height:100%;}
.content{position:relative;z-index: 20;}
.content{overflow:initial !important;height:100%;}
.content > *{width:100%;}
.content{flex:1 1 0;display:flex;flex-direction:column;justify-content:space-between;align-items:center;}*/

body > div{width:100%;height:100%;}
.wrapper{width:100%;height:100%;}
.content-wrap {width: 100%;height: 100%;display:flex;flex-direction:column;justify-content:space-between;align-items:center;padding-bottom:env(safe-area-inset-bottom);}
.content-wrap  > *{display:block;width:100%;}
.content{overflow:initial !important;height:100%;}
.content{flex:1 1 0;display:flex;flex-direction:column;justify-content:space-between;align-items:center;}
/* .content > .scrollBox{padding-top:5.6rem;} */
.content > *{width:100%;}
.wrapper > * {position:relative;}

.content{position:relative;z-index: 10;}
.scrollX{overflow-x: auto;overflow-y: hidden;-webkit-overflow-scrolling: touch;}
.scrollBox{overflow-y: auto;-webkit-overflow-scrolling: touch;overflow-x:hidden;}
.content > .scrollBox{position:relative;}
.content > .scrollBox.vbox{padding-bottom: 0;}

.bt-e{border-top:1px solid var(--default-eee)}
.br-e{border-right:1px solid var(--default-eee)}
.bb-e{border-bottom:1px solid var(--default-eee)}
.bl-e{border-left:1px solid var(--default-eee)}


/****** Login Page Start *****/
.content.login{position: relative;height:100%;padding-top:13vh;}
@media only screen and (max-height:800px){
  .content.login{padding-top:4vh;}
}
@media only screen and (max-height:700px){
  .content.login{padding-top:5vh;}
}
.content > *{padding:5px;}
.content > .login > *{display: block;padding:5px;}
.content.login .scrollBox{padding-bottom:9rem ;}
.login h2{padding-left:.8rem;color:var(--default-black);font-size:2.8rem;font-weight: bold;}
.login h2 + p{margin-top: .6rem;padding-left:.8rem;color:var(--default-black);font-size:1.6rem;;}
.login section.topline{margin-top: 3.2rem;;padding-top:3.6rem;}
.login section.topline .toggle + *{margin-top: 3.2rem;}
.login section.topline > input + input{margin-top: 1.2rem;}
.login section.topline input + button{margin-top: 4rem;}
.login section.topline > button + button{margin-top: 1.6rem;}
.login section.topline > button + p{margin-top: 2.2rem;}
.login .btn, .login input.ipt-line{height:5.2rem;}
.login .btn{font-size:1.5rem;}

.login-foot{position: absolute;bottom:0;left:2rem;right:0;padding:2rem 2rem 2rem 0;text-align:center;border-top: 1px solid var(--default-eee);background-color: #fff;}
.login-foot *{color:var(--text-999);font-size:1.2rem;}
.login-foot .copyright{font-size:1.2rem;line-height: 1.09;margin-top: .8rem;}
/****** Login Page End *****/