/*body > div{width:100%;height:100%;}
.content{position:relative;z-index: 20;}
.content{overflow:initial !important;height:100%;}
.content > *{width:100%;}
.content{flex:1 1 0;display:flex;flex-direction:column;justify-content:space-between;align-items:center;}*/

body{margin: 0%;}
body > div{width:100%;height:100%;}
.wrapper{width:100%;height:100%;}
.content-wrap {width: 100%;height: 100%;display:flex;flex-direction:column;justify-content:space-between;align-items:center;padding-bottom:env(safe-area-inset-bottom);}
.content-wrap  > *{display:block;width:100%;}
.content{overflow:initial !important;height:100%;}
.content{flex:1 1 0;display:flex;flex-direction:column;justify-content:space-between;align-items:center;}
/* .content > .scrollBox{padding-top:5.6rem;} */
.content > *{width:100%;}
.wrapper > * {position:relative;}

.content{position:relative;z-index: 10;}
.scrollX{overflow-x: auto;overflow-y: hidden;-webkit-overflow-scrolling: touch;}
.scrollBox{overflow-y: auto;-webkit-overflow-scrolling: touch;overflow-x:hidden;}
.content > .scrollBox{position:relative;}
.content > .scrollBox.vbox{padding-bottom: 0;}

.bt-e{border-top:1px solid var(--default-eee)}
.br-e{border-right:1px solid var(--default-eee)}
.bb-e{border-bottom:1px solid var(--default-eee)}
.bl-e{border-left:1px solid var(--default-eee)}


.header{position:sticky;top:0;z-index:20;background-color: white;}
header button{position:absolute;top:0;width:3rem;height:3rem;font-size: 0;text-indent: -999rem;}
header button.btn-last{right:.2rem;}
/*header button.btn-last.second{right:4.4rem;}*/
header button.back{background-image: url('../img/title-back.png');}
header button.menu{background-image: url('../img/title-menu.png');}
header button{background-repeat: no-repeat;background-size: 2rem auto;background-color:white;border: none}
header button.btn-last{background-position:center;}

header{position: relative;z-index: 12;height:3rem;}
header + h1{display:block;padding:1.2rem 2rem 1.6rem 2rem;color:var(--default-black);font-weight:bold;font-size:2.4rem;line-height:1;z-index: 11;}


.footer{position:fixed;bottom:0;z-index:20;background-color: white;}
footer{position: relative;z-index: 12;height:3rem;}
footer button{position:relative;top:0;width:3rem;height:3rem;font-size: 0;text-indent: -999rem;}